* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  background-image: linear-gradient(#4a79f3, #5741d7);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input {
  width: 100%;
  border: none;
  padding: 10px 10px;
  background-color: rgb(255, 255, 255);
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #000000;

  &:focus {
    outline: none;
    box-shadow: 0 0 1px 2px #515de5;
  }
}

.container {
  width: 100%;
  margin: auto;
}

@import "header";
@import "cloud";
@import "weather";
@import "forecast";
@import "error";
@import "loading";
